body{
    font-family: Arial, sans-serif;
    margin: 21px;
    background-color: #f9f9f9;
}
h2{
    text-align: center;
}
.container{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.card{
    border: 1px solid black;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 4px 6px black;
    width: 220px;
    text-align: center;
    padding: 16px;
    margin: 50px;
}
.avatar{
    width: 70px; height: 70px;
    background: #007bff; color: #fff;
    border-radius: 50%;
    display: flex; justify-content: center; align-items: center;
    font-size: 20px; margin: 0 auto 12px;
}