body{
    margin: 0;
    padding: 0;
    /* background-color: white;
    background-image: url(images.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover; */
    background: url(back.jpeg) no-repeat center fixed;
    background-size: cover;
}
p{
    font-family: arial;
    font-size: 30px;
    color: #f04;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    text-shadow: 1px 1px 10px #fff;
    clear: both;
}
#para{
    color: aliceblue;
    display: inline-block;
}
img{
    float: left;
}
